@{
    Layout = null;
}
 
<!DOCTYPE html>
<html ng-app="artistsApp">  
    <head>
        <meta name="viewport" content="width=device-width" />
    
        <title>Artists</title>
    
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/ng-grid.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-resource.min.js"></script>
        <script src="~/Scripts/ng-grid-2.0.4.min.js"></script>
        <script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/app/js/ngSignalR.js"></script>
        <script src="~/app/js/app.js"></script>
        <script src="~/app/js/services.js"></script>
        <script src="~/app/js/controllers.js"></script>
    </head>

    <body ng-controller="ArtistsCtrl">
        <div class="gridStyle" ng-grid="gridOptions">
        </div>
    </body>
</html>
